<div class></div>
  <nav class="navbar navbar-light">
   <div class="container-fluid">
    <a class="navbar-brand fs-2 text-white">
      My lists
    </a>
    <%= link_to "Create a new list", new_list_path(@list), class: " btn  text-decoration-none text-white"%>
   </div>
  </nav>


  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th-thumbnailer.cdn-si-edu.com/rOtBj9QibZD7-ougknPa4MW9_NA=/fit-in/1072x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/f8/52/f8522dc3-da07-49bd-b6f6-b5ddebe7e740/muybridge_race_horse_animated.gif);">

  </div>



 <%#
    <div class="carousel-item active">
      <img src="https://th-thumbnailer.cdn-si-edu.com/rOtBj9QibZD7-ougknPa4MW9_NA=/fit-in/1072x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/f8/52/f8522dc3-da07-49bd-b6f6-b5ddebe7e740/muybridge_race_horse_animated.gif" class="d-block w-100" alt="edward mybridge">
    </div> %>



    <div class="cards">
  <% @lists.each do |list| %>
  <%= link_to list.name, list, class: "text-decoration-none text-white"  %>
  <% end %>
  </div>
